<mat-card class="forgot-password-form" [formGroup]="form">
  <mat-card-header class="mb-2 forgot-password-haeder">
    <mat-card-title> Don't worry! </mat-card-title>
    <mat-card-subtitle> Provide your registered email </mat-card-subtitle>
  </mat-card-header>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="text"
      placeholder="Provide your email"
      matInput
      formControlName="email"
    />
  </mat-form-field>

  <mat-card-actions class="button-container">
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </mat-card-actions>
</mat-card>
