.main-navbar {
  justify-content: space-between;
  height: fit-content;
  position: relative;
}

.left-header {
  display: flex;
  align-items: center;
}

.app-title {
  margin: 0;
}

.right-header {
  display: flex;
}
