.main-navbar {
  align-items: center;
  justify-content: space-between;
  height: 8%;
  position: relative;
}

.left-header {
  display: flex;
  align-items: center;
}

.app-title {
  margin: 0;
}

.right-header {
  display: flex;
}
