<mat-card class="reset-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-card-header class="reset-form__header">
    <mat-card-title> Enter New Password </mat-card-title>
  </mat-card-header>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input
      type="password"
      placeholder="password"
      matInput
      formControlName="password"
    />
    <mat-error *ngIf="checkForError('password', 'required')"
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input
      type="password"
      placeholder="Type again"
      matInput
      formControlName="confirmPassword"
    />
    <mat-error *ngIf="checkForError('confirmPassword', 'passwordMismatch')"
      >Input doesn't match above password</mat-error
    >
    <mat-error
      *ngIf="
        checkForError('confirmPassword', 'required') &&
        !checkForError('confirmPassword', 'passwordMismatch')
      "
      >Input field is required</mat-error
    >
  </mat-form-field>
  <mat-card-actions class="reset-form__action-container">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="reset-form__action-submit"
    >
      Reset
    </button>
  </mat-card-actions>
</mat-card>
