.reset-form {
  width: 25vw;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-form__header {
  padding: 0 0 10px 0;
}

.reset-form__action-container {
  display: flex;
  flex-direction: row-reverse;
}

.reset-form__action-submit {
  width: 30%;
}
